* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: Arial, sans-serif;
}

body {
  background: #f5f5f5;
}

header {
  background: #111;
  color: white;
  padding: 15px 40px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

header .logo {
  font-size: 26px;
  font-weight: bold;
}

nav a {
  color: white;
  margin-left: 20px;
  text-decoration: none;
  font-size: 16px;
}
.banner {
  width: 100%;
  height: 500px;
  background: url("images/psd1.jpg") no-repeat center;
  background-color: #000;
  display: flex;
  justify-content: center;
  align-items: center;
  padding-left: 40px;
  position: relative;
}
.banner-text {
  color: white;
  padding: 30px;
  text-align: center;
  margin-left: 0;
  max-width: 800px;
  text-shadow: 1px 1px 3px rgba(0, 0, 0, 0.7);
}

.banner-text h1 {
  font-size: 70px;
  color: white;
  font-weight: bold;
  line-height: 1.1;
  margin-bottom: 20px;
}

.banner-text p {
  font-size: 28px;
  color: white;
  margin-bottom: 35px;
}
.product-banner {
  width: 100%;
  height: 600px;
  background: linear-gradient(
      rgba(255, 255, 255, 0.7),
      rgba(255, 255, 255, 0.7)
    ),
    url("images/psd2.jpg") no-repeat center;
  background-size: cover;
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding-left: 40px;
}

.product-banner h1 {
  font-size: 42px;
  font-weight: bold;
  margin-bottom: 10px;
  color: #000;
}

.product-banner p {
  font-size: 20px;
  color: #000;
}

.buy-btn {
  background: #e05639;
  color: white;
  padding: 18px 45px;
  font-size: 24px;
  border: none;
  border-radius: 10px;
  cursor: pointer;
  transition: 0.3s;
}

.buy-btn:hover {
  background: #ff6a49;
  transform: scale(1.05);
}

.btn {
  display: inline-block;
  margin-top: 12px;
  background: #ff4747;
  color: white;
  padding: 12px 22px;
  border-radius: 6px;
  text-decoration: none;
}

.products {
  padding: 50px 40px;
  text-align: center;
}

.products h2 {
  margin-bottom: 30px;
  font-size: 32px;
}

.product-grid {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 25px;
}

.product-card {
  background: white;
  padding: 15px;
  border-radius: 10px;
  text-align: center;
  box-shadow: 0 3px 10px rgba(0, 0, 0, 0.1);
}

.product-card img {
  width: 100%;
  border-radius: 10px;
}

.product-card h3 {
  margin: 10px 0;
}

.product-card .price {
  color: #e60000;
  font-size: 20px;
  margin-bottom: 10px;
}

.product-card button {
  padding: 10px 18px;
  border: none;
  background: #111;
  color: white;
  border-radius: 6px;
  cursor: pointer;
}

footer {
  background: #111;
  color: white;
  text-align: center;
  padding: 15px 0;
  margin-top: 40px;
}
